<template>
  <div id="app">
    <div>
      vuex: {{ count }}
    </div>
    <grid :columns="columns"
          :rows="rows"
    >
    </grid>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import Grid from './components/Grid';
import * as RowFactory from './modules/row-factory';
import Rx from 'rxjs/Rx';

const generateRandomNumber = () => Math.random() * 100;

let mySubscription  = Rx.Observable.interval(3000)
    .map(data => generateRandomNumber())
    .subscribe(
        data => console.log(data),
        error => console.log(error),
        () => console.log("complete")
    );
mySubscription.complete();

const DEFAULT_COLUMNS = [
  {
    id: 'ticker',
    label: 'Ticker',
  },
  {
    id: 'price',
    label: 'Price',
  },
];

const DEFAULT_ROWS = [
  RowFactory.createHeaderRow('Foo'),
  RowFactory.createTickerRow('A-USA', {
    ticker: 'A-USA',
    price: 100,
  }),
  RowFactory.createHeaderRow('Bar'),
  RowFactory.createTickerRow('B-USA', {
    ticker: 'B-USA',
    price: 50,
  }),
];

export default {
  name: 'app',
  components: {
    Grid,
  },
  data: function() {
    return {
      columns: DEFAULT_COLUMNS,
      rows: DEFAULT_ROWS,
    };
  },
  computed: mapState([
    'count',
  ]),
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
