<template>
  <table border="1">
    <tr>
      <th v-for="column in columns">{{ column.label }}</th>
    </tr>
    <row v-for="row in rows"
         :row="row"
         :columns="columns"
         @selected-row-id-change="onSelectedRowIdChange"
         :class="{ 'vsb-selected-row': row.id === selectedRowId }"
         >
    </row>
  </table>
</template>
<style>
  .vsb-header-row {
    font-weight: bold;
    background-color: lightgray;
  }

  .vsb-selected-row {
    border: 1px solid orange;
  }

  .vsb-header-row-collapsed::before {
    content: '+ ';
  }

  .vsb-header-row-expanded::before {
    content: '- ';
  }
</style>
<script>
import Row from './Row';

export default {
  props: ['columns', 'rows'],
  data() {
    return {
      selectedRowId: '',
    };
  },
  methods: {
    onSelectedRowIdChange: function(rowId) {
      this.selectedRowId = rowId;
    },
  },
  components: {
    Row,
  }
}
</script>
