<template>
  <tr @click="onClick">
    <template v-if="row.type === 'TICKER'">
      <td v-for="column in columns">
        {{ row.data[column.id] }}
      </td>
    </template>
    <template v-else-if="row.type === 'HEADER'">
      <td :colspan="columns.length"
          class="vsb-header-row"
          :class="{
              'vsb-header-row-expanded': !row.isCollapsed,
              'vsb-header-row-collapsed': row.isCollapsed,
            }"
      >
        {{ row.label }}
      </td>
    </template>
  </tr>
</template>
<style>
  .vsb-header-row {
    font-weight: bold;
    background-color: lightgray;
  }

  .vsb-header-row-collapsed::before {
    content: '+ ';
  }

  .vsb-header-row-expanded::before {
    content: '- ';
  }
</style>
<script>
  export default{
    props: ['row', 'columns'],
    created: function() {
      this.$nextTick(() => {
        console.log(this);
        debugger;
      });
    },
    methods: {
      onClick: function() {
        this.$emit('selected-row-id-change', this.row.id);
      }
    },
  }
</script>
