<template>
  <div class="wg-app">

    <div class="wg-part-picker">

      <div class="wg-prefixes" v-if="isPrefixMode !== true">
        <div style="text-decoration: underline;">
          prefix
        </div>
        <ul>
          <li class="wg-clickable"
              v-for="prefix in prefixes"
              @click="setPrefix(prefix)"
          >
            {{ prefix }}
          </li>
        </ul>
      </div>
      <div class="wg-prefixes" v-if="isPrefixMode === true">
        <div style="text-decoration: underline;"
        >
          prefix
        </div>
        <div class="wg-selected-part">
          {{ selectedPrefix }}
        </div>
      </div>

      <div class="wg-suffixes" v-if="isPrefixMode !== false">
        <div style="text-decoration: underline;">
          suffix
        </div>
        <ul>
          <li class="wg-clickable"
              v-for="suffix in suffixes"
              @click="setSuffix(suffix)"
          >
            {{ suffix }}
          </li>
        </ul>
      </div>
      <div class="wg-suffixes" v-if="isPrefixMode === false">
        <div style="text-decoration: underline;"
        >
          suffix
        </div>
        <div class="wg-selected-part">
          {{ selectedSuffix }}
        </div>
      </div>

    </div>

    <div class="wg-word-display">
      <div class="wg-prefix">
        <transition name="prefix">
          <div class="wg-prefix-content"
               :class="wordPartClassObject"
               v-if="selectedPrefix !== ''"
               @mouseover="onWordPartMouseover()"
               @mouseout="onWordPartMouseout()"
               @click="reset()"
          >
            {{ selectedPrefix }}
          </div>
        </transition>
      </div>
      <div class="wg-suffix">
        <transition name="suffix">
          <div class="wg-suffix-content"
               :class="wordPartClassObject"
               v-if="selectedSuffix !== ''"
               @mouseover="onWordPartMouseover()"
               @mouseout="onWordPartMouseout()"
               @click="reset()"
          >
            {{ selectedSuffix }}
          </div>
        </transition>
      </div>
      <div class="wg-word-details">
        <p>{{ definition }}</p>
        <p>{{ audioMp3Url }}</p>
        <audio ref="player" controls>
          <source :src="audioMp3Url" type="audio/mpeg">
        </audio>
      </div>
    </div>

  </div>
</template>
<style>
  .wg-app {
    position: relative;
    width: 1500px;
    height: 700px;
    border: 1px solid gray;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 300%;
    overflow: hidden;
  }

  .wg-word-part {
    cursor: pointer;
  }

  .wg-prefixes {
    position: absolute;
    left: 0;
    top: 0;
    width: 750px;
    height: 500px;

    color: blue;
  }

  .wg-suffixes {
    position: absolute;
    left: 750px;
    top: 0;
    width: 750px;
    height: 500px;

    color: green;
  }

  .wg-prefix {
    position: absolute;
    left: 0;
    top: 500px;
    width: 750px;
    height: 200px;
  }

  .wg-prefix-content {
    position: absolute;
    right: 0;

    border-top: 5px solid orange;
    border-bottom: 5px solid orange;
    border-left: 5px solid orange;
  }

  .wg-suffix {
    position: absolute;
    left: 750px;
    top: 500px;
    width: 750px;
    height: 200px;
  }

  .wg-suffix-content {
    position: absolute;
    left: 0;

    border-top: 5px solid orange;
    border-right: 5px solid orange;
    border-bottom: 5px solid orange;
  }

  .wg-clickable:hover {
    background-color: gray;
    cursor: pointer;
  }

  .wg-clickable-always {
    background-color: gray;
    cursor: pointer;
  }

  .wg-selected-part {
    text-align: center;
    font-size: 300%;
  }

  .wg-word-display {
    font-size: 150%;
  }

  .wg-word-details {
    position: absolute;
    top: 500px;
    font-size: 25%;
  }

  .prefix-enter-active {
    transition: right 1s ease;
  }

  .prefix-leave-active {
    transition: right 0s;
  }

  .prefix-enter, .prefix-leave-to {
    right: 800px;
  }

  .suffix-enter-active {
    transition: left 1s ease;
  }

  .suffix-leave-active {
    transition: left 0s;
  }

  .suffix-enter, .suffix-leave-to {
    left: 800px;
  }

</style>
<script>
  import prefixes from '../words/prefixes';
  import suffixes from '../words/suffixes';
  import wordSet from '../words/word-set';

  const apiKey = 'xeN9oREIe9tHslnHhdYNILFxLHanchoP';
  const dictionary = PearsonApis.dictionaries(apiKey);
  const {entries} = dictionary;

  const numParts = 5;

  function shuffle(items) {
    return items.sort(() => .5 - Math.random());
  }

  function getRandomArrayItems(numItems, items) {
    if(numItems > items.length) {
      return items;
    }

    const shuffledItems = shuffle(items);
    return shuffledItems.slice(0, numItems);
  }

  function getSuffixes(prefix) {
    const validSuffixes = _.filter(suffixes, suffix => {
      const word = prefix + suffix;
      return wordSet[word];
    });

    const shuffledSuffixes = shuffle(validSuffixes);
    return _.take(shuffledSuffixes, numParts);
  }

  function getPrefixes(suffix) {
      const validPrefixes = _.filter(prefixes, prefix => {
      const word = prefix + suffix;
      return wordSet[word];
    });

    const shuffledPrefixes = shuffle(validPrefixes);
    return _.take(shuffledPrefixes, numParts);
  }

  export default{
    data() {
      return{
        selectedPrefix: '',
        prefixes: [],

        selectedSuffix: '',
        suffixes: [],

        isPrefixMode: null,
        isWordPartHover: false,

        definition: '',
        audioMp3Url: '',
      }
    },
    computed: {
      wordPartClassObject() {
        return {'wg-clickable-always': this.isWordPartHover};
      },
      word() {
        if(this.selectedPrefix === '' || this.selectedSuffix === '') return '';

        return this.selectedPrefix + this.selectedSuffix;
      },
    },
    watch: {
      word(word) {
        if(word === '') return;

        this.definition = '';
        this.audioMp3Url = '';
        this.$refs.player.load();

        const searchObject = {
          headword: word,
          audio: 'pronunciation',
        };

        const {results} = entries.search(searchObject);

        if(!results.length) return;

        try {
          const result = _.find(results, result => result.headword === word);
          this.definition = result.senses[0].definition[0];

          const domain = 'http://api.pearson.com';
          const pronunciations = _.last(result.pronunciations);
          const {url} = _.last(pronunciations.audio);

          this.audioMp3Url = domain + url;
          this.$refs.player.load();
        } catch(e) {
          console.log(e);
          this.$refs.player.load();
        }
      }
    },
    methods: {
      reset() {
        this.selectedPrefix = '';
        this.prefixes = getRandomArrayItems(numParts, prefixes);

        this.selectedSuffix = '';
        this.suffixes = getRandomArrayItems(numParts, suffixes);

        this.isPrefixMode = null;
        this.isWordPartHover = false;
      },
      setPrefix(prefix) {
        this.selectedPrefix = prefix;
        if(this.isPrefixMode != null) return;

        this.isPrefixMode = true;
        this.suffixes = getSuffixes(prefix);
      },
      setSuffix(suffix) {
        this.selectedSuffix = suffix;
        if(this.isPrefixMode != null) return;

        this.isPrefixMode = false;
        this.prefixes = getPrefixes(suffix);
      },
      onWordPartMouseover() {
        this.isWordPartHover = true;
      },
      onWordPartMouseout() {
        this.isWordPartHover = false;
      },
    },
    mounted() {
      this.reset();
    },
  }
</script>
