<template>
  <div>
    counter: {{ counter }}
    <button @click="increment">increment</button>
    <button @click="decrement">decrement</button>
    <child/>
  </div>
</template>

<script>
import Vue from 'vue';
import Revue from 'revue'
import {createStore, combineReducers} from 'redux'

import Child from './child';

// create a counter reducer
const counter = (state = 0, action) => {
  switch(action.type) {
    case 'increment':
      return state + 1
    case 'decrement':
      return state - 1
    default:
      return state
  }
}

// action creators
const actions = {
  increment() {
    return {type: 'increment'}
  },
  decrement() {
    return {type: 'decrement'}
  }
}

// combine reducers
// and create the redux store
const reduxStore = createStore(combineReducers({counter}))
// create a revue store by binding redux store to Vue
const store = new Revue(Vue, reduxStore, actions)

export default {
  data: function() {
    return {
      counter: this.$select('counter'),
      componentState: { value: 'bar' },
    };
  },
  methods: {
    increment() {
      this.componentState.value = 'foo';
      store.dispatch(actions.increment());
    },
    decrement() {
      store.dispatch(actions.decrement())
    },
  },
  provide: function() {
    return {
      foo: this.componentState,
    };
  },
  components: {
    Child,
  },
}
</script>